#Logo {
  color : white;
}
h3 {
  font-size: 25px;
}
footer {
  background-color: black
}
#CR {
  color: white;
  text-align: center;
}
#dev {
  background-color: lightgrey;
  margin: 20px;
  margin-top: : 200px;
  margin-left: 300px;
  margin-right: 300px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 10px;
}
