#Logo {
  color : white;
}
h3 {
  font-size: 25px;
}
footer {
  background-color: grey
}
#CR {
  color: white;
  text-align: center;
  padding-bottom:100px;

}
#dev {
  background-color: lightgrey;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}
.card {
  margin-right: : 10px;
}
